* {
    overflow: hidden;
}

#main-container {
    background-image: url({border});
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

