#container {
    background-image: url({background});
    background-repeat: no-repeat;   /* Ensure that background does not repeat */
    background-position: center;    /* Ensure image is centred */
    background-size: contain;
    width: calc({{wheelSize}}px + 160px);                   /* Width and height should at least be the same as the canvas */
    height: calc({{wheelSize}}px + 160px);
}

#canvas{
    top:80px;
    left:80px;
    position:relative;
}