* {
    font-family: '{{fontName}}', sans-serif;
color: {{fontColor}};
font-size: {{fontSize}}px;
font-weight: {{fontWeight}};
overflow: hidden;
-webkit-text-stroke-width: {{strokeSize}}px;
-webkit-text-stroke-color: {{strokeColor}};
}
.subs{
    position:absolute;
}
.explosion{
top:{{explosionY}}px;
left:{{explosionX}}px;
transition-duration: calc({{displayTime}}s);
}
.rainfall{
transition-duration: calc({{displayTime}}s);
}
.train{
    position: absolute;
    bottom: 30px;
    left:100%;
    height:100px;
    white-space:nowrap;
    animation-name:gotrain;
    animation-timing-function: linear;
}
.tracks{
    position: absolute;
    bottom: 5px;
    width:100%;
    overflow:hidden;
    font-size:20px;
    white-space:nowrap;
    color:#500d16;
    background-color:white;
}
@keyframes gotrain {
    from {
    }
    to {
        transform: translateX(-200%);
    }
}
.locomotive{
    display:inline-block;
    background-image: url({locomotive});
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 64px;
    width: 250px;
    margin-left: -5px;
    padding-top: 37px;
    text-align: center;
}
.wagon{
    display:inline-block;
    display:inline-block;
    background-image: url({wagon});
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:70px;
    width: 250px;
    margin-left: -5px;
    padding-top:30px;
    text-align: center;
}
.gifter{
    position:absolute;
    z-index:20;
left:{{gifterX}}px;
top:{{gifterY}}px;
background-color:{{gifterBg}};
color:{{gifterFontColor}};
font-size:{{gifterFontSize}}px;
border: 2px solid {{gifterBorder}};
}
