@import url('https://fonts.googleapis.com/css?family={{fontName}}');

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: {fontName};
}

.container {
  width: 100%;
  height: 100%;
  background: {backgroundColor};
}

.log {}

.message {
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  color: {fontColor};
  padding: 5px 10px;
}

.message__badges {
  display: inline-flex;
  align-items: center;
  height: {fontSize};
  vertical-align: middle;
}

.message__badge {
  height: {badgeSize}px;
  margin-right: 5px;
}

.message__badge--peer_pressure {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.message__username {
  font-weight: bold;
  margin-right: 10px;
}

.message__username--peer_pressure {
  text-decoration: underline;
}

.message__text {}


.message__emote {
    height: {emoteSize}px;
    vertical-align: middle;
    background-repeat:no-repeat;
}