@import url('https://fonts.googleapis.com/css?family={{fontName}}');

html,body {
  margin: 0;
  padding: 0;
  font-family: {fontName};
}

.container {
  width: 100%;
  height: 100%;
  background: {backgroundColor};
}

.log {}

.message {
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  color: {fontColor};
  padding: 5px 10px;
}

.message__badges {
  display: inline-flex;
  align-items: center;
  height: {fontSize};
  vertical-align: middle;
}

.message__badge {
  height: {badgeSize}px;
  margin-right: 5px;
}

.message__username {
  font-weight: bold;
  margin-right: 10px;
}

.message__username--peer_pressure {
  text-decoration: underline;
}

.message__text {}


.message__emote {
    height: {emoteSize}px;
    vertical-align: middle;
    background-repeat:no-repeat;
}