@import url('https://fonts.googleapis.com/css?family={{fontName}}');

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes falling { 
  0% {
    transform:
      translate3d(300,0,0)
      rotate(0deg);
  }
  100% {
    transform:
      translate3d(-350px,700px,0)
      rotate(90deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    transform:
      translate3d(0,0,0)
      rotate(-20deg);
  }
  100% {
    transform:
      translate3d(-230px,640px,0)
      rotate(-70deg);
      opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform:
      translate3d(0,0,0)
      rotate(90deg);
  }
  100% {
    transform:
      translate3d(-400px,680px,0)
      rotate(0deg);
    opacity: 0;
  }
}

html,body {
  margin: 0;
  padding: 0;
  font-family: {fontName};
}

.container {
  width: 100%;
  height: 100%;
  background: {backgroundColor};
}

.chips {
  position: absolute;
  top: -150px;
  width: 100%;
  text-align: right;
  z-index: 2;
  display: none;
}

.chips--show {
  display: block;
}

.chips i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: url({peerPressureImage});
  transform: skew(20deg);
  animation: falling 5s 0s infinite;
}

.chips i:nth-of-type(2n) { 
  animation: falling2 5s 0s infinite;
}

.chips i:nth-of-type(2n) { 
  animation: falling3 5s 0s infinite;
}

.chips i:nth-of-type(n) { height:73px; width:80px; }
.chips i:nth-of-type(n):before { width: 57px; height:55px; top:67px; right:51px; }
.chips i:nth-of-type(n):after { width: 52px; height: 67px; left: 62px; top:50px; }

.chips i:nth-of-type(2n+1)    { height: 61px; width:66px; }
.chips i:nth-of-type(2n+1):before { width: 54px; height: 53px; top:57px; right:50px; }
.chips i:nth-of-type(2n+1):after { width: 52px; height: 56px; left: 55px; top:51px; }

.chips i:nth-of-type(3n+2)  { height:67px; width:73px; }
.chips i:nth-of-type(3n+2):before  { height: 54px; width: 54px; top:62px; right:51px; }
.chips i:nth-of-type(3n+2):after  { height: 60px; width: 52px; top:51px; left:58px; }

.chips i:nth-of-type(n)   { animation-delay: 1.9s;}
.chips i:nth-of-type(2n)  { animation-delay: 3.9s;}
.chips i:nth-of-type(3n)  { animation-delay: 2.3s;}
.chips i:nth-of-type(4n)  { animation-delay: 4.4s;}
.chips i:nth-of-type(5n)  { animation-delay: 5s;  }
.chips i:nth-of-type(6n)  { animation-delay: 3.5s;}
.chips i:nth-of-type(7n)  { animation-delay: 2.8s;}
.chips i:nth-of-type(8n)  { animation-delay: 1.5s;}
.chips i:nth-of-type(9n)  { animation-delay: 3.3s;}
.chips i:nth-of-type(10n) { animation-delay: 2.5s;}
.chips i:nth-of-type(11n) { animation-delay: 1.2s;}
.chips i:nth-of-type(12n) { animation-delay: 4.1s;}
.chips i:nth-of-type(13n) { animation-delay: 1s;  }
.chips i:nth-of-type(14n) { animation-delay: 4.7s;}
.chips i:nth-of-type(15n) { animation-delay: 3s;  }

.chips i:nth-of-type(n)     { 
  background: url({peerPressureImage});
  background-size: cover;
  background-repeat: no-repeat;
}
.chips i:nth-of-type(2n+2)  { 
  background: url({peerPressureImage});
  background-size: cover;
  background-repeat: no-repeat;
}
.chips i:nth-of-type(4n+1)  { 
  background: url({peerPressureImage});
  background-size: cover;
  background-repeat: no-repeat;
}

.chips i:nth-of-type(n) { opacity: .7;}
.chips i:nth-of-type(3n+1) { opacity: .5;}
.chips i:nth-of-type(3n+2) { opacity: .3;}
.chips i:nth-of-type(n) {transform: rotate(180deg);}
.chips i:nth-of-type(n) { animation-timing-function:ease-in-out; }

.log {
  z-index: 1;
}

.message {
  font-size: {fontSize}px;
  font-weight: {fontWeight};
  color: {fontColor};
  padding: 5px 10px;
}

.message__badges {
  display: inline-flex;
  align-items: center;
  height: {fontSize};
  vertical-align: middle;
}

.message__badge {
  height: {badgeSize}px;
  margin-right: 5px;
}

.message__badge--peer_pressure {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.message__username {
  font-weight: bold;
  margin-right: 10px;
}

.message__username--peer_pressure {}

.message__text {}

.message__emote {
  height: {emoteSize}px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.progress {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
}

.progress--hide {
  display: none;
}

.progress__wrapper {
  background-color: {progressEmptyBarColor};
}

.progress__label {
  color: {progressLabelColor};
  position: relative;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  top: 55px;
  transform: rotate(-5deg);
  transform-origin: 12px 12px;
}

.progress__bar {
  width: 1%;
  height: 60px;
  background-color: {progressBarColor};
  transition: width 0.2s ease-in-out;
}

.progress__image {
  height: 120px;
}


