* {
    font-family: '{fontName}', sans-serif;
    font-weight: {fontWeight};
}
.meter {
    display:{displayBar};
    height: 25px;  /* Can be anything */
    position: relative;
    background: {{backgroundColor}};
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px;
    overflow: hidden;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display:{displayBar};
    height: 100%;
    border-radius: 25px;
    background-color: {{barColor1}};
    background-image: linear-gradient(
        center bottom,
        {{barColor1}} 37%,
        {{barColor2}} 69%
    );
    box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
        -45deg,
        {{barColor2}} 25%,
        transparent 25%,
        transparent 50%,
        {{barColor2}} 50%,
        {{barColor2}} 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    border-radius:25px;
    overflow: hidden;
}

.legend{
    display:{displayLabels};
    width: 100%;
    font-size:{{labelSize}}px;
    text-align:center;
    font-weight:bold;
}
.title{
    width: 100%;
    font-size:{{titleSize}}px;
    color:{{titleColor}};
    text-align:center;
    font-weight:bold;
  text-shadow: {{shadow}};
}
#count{
    color:{{valueColor}};
    text-shadow: {{shadow}};
}
#divider{
    color:{{dividerColor}};
    text-shadow: {{shadow}};
}
#goal{
    color:{{goalColor}};
    text-shadow: {{shadow}};
}