* {
    font-family: '{{fontName}}', sans-serif;
}
.meter {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index:-1;
    background: {{backgroundColor}};
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    display: block;
    position: relative;
    height: 100%;
    border-radius: 0px;
    background-color: {{barColor1}};
    background-image: repeating-linear-gradient(
        45deg,
        {{barColor1}},
        {{barColor1}} 10px,
        {{barColor2}} 10px,
        {{barColor2}} 20px
    );
    box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
}
.legend{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    font-size:{{labelSize}}px;
    color:{{labelColor}};
    text-align:center;
    font-weight:1200;
    -webkit-text-stroke-width: {{labelStroke}}px;
    -webkit-text-stroke-color: black;
}
